<li><i class="fa fa-times">
              <a href="#" id="writeScore_panel"> 填写本次服务评分</a>
</i></li>

<div id="writeScore_panel_modal2" class="modal fade" role="dialog" style="display: none;">
<div class="modal-dialog">
<div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4>填写本次小禅服务的分数</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
<form id="newItemForm">
<div align="center" class="form-group">
              <div class="input-group">
<input class="form-control" type="text" id="itemDescription" placeholder="小禅刚才的服务可以得多少分呢..." />
        <input class="btn btn-primary btn-large" type="submit" id="addButton" value="提交我的分数" />
              </div>
    </div>
      </form>
<script>
var date1=new Date();  //开始时间
  $(function() {
  var $newItemForm = $('#newItemForm');
  var $textInput = $('input:text');
  var $textInput = $('input:text');
  $newItemForm.on('submit', function(e){
    e.preventDefault();
    var newText = $textInput.val();//获取用户填写的评分
    var date2=new Date();    //结束时间
    var date3=date2.getTime()-date1.getTime()  //时间差的毫秒数
    parseInt(Math.random()*(100-70+1)+70,100);
    var return_code = send_chat_quality(<%= current_user.id %>, newText, 1, date3);
    $textInput.val('');
  });
});
</script>
      </div>
</div>
</div>
</div>
<script>
  // 这个地方是模态框的启动函数

</script>
